*{
	margin: 0;
	padding: 0;
	font-family: arial;
}
.container{
	width: 960px;
	margin: auto;
}
.clearfix:after, .clearfix:before{
	clear: both;
	content: " ";
	display: table;
}
.relative{
	position: relative;
}
img{
	width: 100%;
}
/*
	BEGIN HEADER
 */
.logo{
	float: left;
	width: 25%;
}
.search-bar{
	margin: auto;
	width: 400px;
	min-height: 70px;
	text-align: center;
	position: relative;
	display: inline-block;
}
.search-bar input{
    width: 350px;
    margin: auto;
    line-height: 35px;
    margin-top: 15px;
    border-radius: 20px;
    border: 1px solid #dedede;
    padding-left: 15px;
    font-size: 13px;
}
.search-bar button{
	width: 40px;
    height: 35px;
    position: absolute;
    top: 16px;
    right: 19px;
    font-size: 20px;
    border: none;
    background: none;
    color: #ccc;
    cursor: pointer;
}
.search-bar button:hover{
	color: #000;
}
.search-bar input:focus{
	outline: none;
}

.favor{
	width: 250px;
    float: right;
}
.favor ul{
	list-style: none;
    list-style-type: none;
    text-align: right;
    padding-top: 10px;
}
.favor ul li{
	display: inline-block;
	width: 100px;
	text-align: center;
	border-right: 1px dashed #dedede; 
}
.favor ul li:last-child{
	border-right: none;
}
.favor ul li a{
	text-decoration: none;
	display: block;
	color: #000;
}
.favor ul li a:hover{
	color: #2ca9e1;
}
/*
* BEGIN NAV
 */
nav{
	background-color: #2ca9e1;
}
nav ul li{
	list-style-type: none;
	list-style: none;
}
nav ul li{
	float: left;
	display: block;
	min-width: 120px;
	text-align: center;
	border-right: 1px dashed #ccc;
	line-height: 45px;
	height: 45px;
	position: relative;
}
nav ul li:last-child{
	border-right: none;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	display: block;
}
nav ul li:hover{
	background-color: lightblue;
}
nav ul li:hover>ul.dropdown{
	display: block;
}
ul.dropdown{
	display: none;
	position: absolute;
	top: 45px;
	left: 0px;
	background: #2ca9e1;
}
ul.dropdown li{
	border-right: none;
	border-bottom: 1px dashed #ccc;
}
ul.dropdown li:first-child{
	border-top: 1px dashed #ccc;
}
ul ul ul.dropdown{
	display: none;
	position: absolute;
	left: 100%;
	top: 0px;
}
li.mega-menu{
	position: static;
}
.mega-dropdown{
	display: none;
	position: absolute;
	top: 45px;
	left: 0;
	right: 0;
	background: #fff;
	min-height: 215px;
	box-shadow: 0 2px 1px 1px #ececec;
}
nav ul li.mega-menu:hover .mega-dropdown{
	display: block;
}
.mega-dropdown li{
	background-color: #fff !important;
	width: 24%;
	/*border-right: 1px solid #000;*/
	float: left;
	/*height: 200px;*/
	padding-left: 3px; 
	margin-right: 5px;
}
.mega-dropdown li p{
	line-height: 14px;
	color: #000;
	font-size: 13px;
	text-align: left;
}
/*
* END NAV
 */
/*
	END HEADER
 */

/*
	BEGIN HOT-News
 */
main{
	margin: 10px 0px;
}
.main-news{
	width: 66%;
	float: left;
	/*min-height: 400px;*/
	/*background: aqua;*/
	position: relative;
}
.new-title{
	position: absolute;
    left: 0;
    right: 0;
    background: rgba(68, 66, 66, 0.6);
    min-height: 80px;
    bottom: 0;
    color: #fff;
    padding: 0 25px;
}
.new-title a{
	color: #fff;
    font-size: 18px;
    text-decoration: none;
    background: transparent;
    padding: 10px 0;
    display: block;
}












